/* this code for the property_details page */
/* this code end*/

/* property overview Read more and read less */
.morecontent1 span {
    display: none;
}
.morelink1 {
    display: block;
}
/* end*/
/*code for read more-less of amenities property page */
.morecontent span {
    display: none;
}
.morelink {
    display: block;
    bottom: 35px;
}
/* END*/

/* this code for the vedio slider property page*/
button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    display: none!important;
    right: 54px;
    display: none;
    width: 47px;
    height: 75px;
    background-image: url("../../maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}
button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    display: none;
    z-index: 1;
    display: none!important;
    width: 47px;
    height: 75px;
    background-image: url("../../maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}
.slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

.abc{
    height:270px;
}
.abcd{
    height:1vw!important;
}
@media only screen and (min-width: 300px) and (max-width:400px){
    .abc{
        height: 99vw;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 2000px) {
    .abc{
        height:500px;
    }

}


@media only screen and (min-width: 1440px) and (max-width: 1500px){
    .abc{
        height: 33vhw;
    }

}
/* end the code for the property slider */


/* this code for the house rule property page font icon*/

.fas{
    color: #28b0e6;
    font-size: large;

}
@media only screen and (min-width:600px ){
    #list_house_rule{
        width: 50%;
    }
}
/* end the code for the house rule property page font icon*/

/* this code for the gallery items destop */
/* Style tab links */
.tablink {
    background-color: #24324f;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width:25%;
}
@media only screen and (max-width:480px){
    .tablink{
        width:100%;
    }
}

.tablink:hover {
    background-color: #009688;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;

    padding: 20px 20px;
    height: 100%;
}
.tablink {
    white-space: nowrap; 
    width: 187px; 
    overflow: hidden;
    text-overflow:ellipsis;

}

tablink:hover {
    overflow: visible;
}
/* end the code for the gallery items */


#lang_btn_mobile{
    display: none;
}
.mobile-hide-section{
    display: none;
}

.lang_btn_mobile_li{
    border: 1px solid #24324f0f;
    padding: 7px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    width: 115px;
    margin-left: 61px;
    margin-bottom: 5px;
    color: #999999;
}
@media only screen and (max-width: 488px){

    .close-reg{
        right: 4px;
    }
    #lang_btn_mobile{
        display: block;
    }
    #lang{
        display:none;
    }
    #collapseExample{
        display: none;
    }
}

#Lang_btn_mobile{
    display: none;
}

@media only screen and (min-width:1440px ){

    .hero-section{
        height: 710px;
    }
}
@media only screen and (max-width:1439px ) and (min-width:1133px){
    .hero-section{
        height: 622px;
    }
}


.main-search-input-item{
    /*width: 25%!important;*/}

article .feature a:hover span {border-bottom: 1px solid #ffffff;}
.understand{font-size:25px!important ;}
.underline:hover{   border-bottom: 1px solid white;}
.newtext{font-family: didot,seriff;}

.link_awards{
    color: white; 
    font-size: 22px; 
    font-weight: 800;
}
.h_awards{
    font-family: didot,seriff; 
    font-size: 35px;
}       

.skiptranslate {
    display: none;
}

#newbtn{
    display: none;
}

@media only screen and (max-width: 460px) and (min-width: 423px){
    .logo-holder{
        margin-left: 13px;
    }
}

.mic{
    display: none;
}
@media only screen and (max-width: 488px){

    #toggle2{
        margin-top: 45px;
    }
    .mic{
        display:block;}
    #contact_no{

        display: none;
    }
    .logo-holder{
        margin-top:-13px;
    }



    #destop{}

    #destop1{display: block;}
    #newbtn{
        display: block;

    }
    .nav-button-wrap{
        margin-top: 0px;
    }
    .show-reg-form{
        /*margin-top: -3px;
        width: 100%;
        background-color: white;
        font-size: 21px;
        border: 1px solid;*/
        margin-top: -16px;
        width: 106%;
        max-width: 513px;
        padding: 10px;
        font-size: 16px!important;
        border: 1px solid;
        margin-right: -10px;
        color: #f8f8f8!important;
        background-color: #1c488b;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1143px){

    .nav-holder{

        top:0px;
    }
    .show-reg-form{
        top:5px;
    }
    .logo-holder{
        top:-16px;
    }

    #dLabel{

        margin-top: -7px;
    }

}

@media only screen and (max-width: 1142px) and (min-width:600px){
    .show-reg-form{
        top: 0px;
    }
    .logo-holder{
        top: -16px;
    }
    .nav-button-wrap{
        top: 7px;
    }

}

@media only screen and (min-width: 600px){

    .show-reg-form{
        border-radius: 6px;
        padding: 11px 10px;
        border:1px solid ;
        color: #4db7fe !important;
    }
    #book_now{
        padding-left: 0px;
    }

    .main-header{height:112px; }
}


.current{
    /*text-align: center;*/
    display: flow-root;  
}

@media only screen and (min-width: 1065px){
    .main-search-button{

        border-top-right-radius: 24px!important;
        border-bottom-right-radius: 22px!important;
    }


    .main-search-input{
        border-top-left-radius: 30px
    }
    #email_home{ 

        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;

    }
}





.fl-fl {
    margin-top: 80px;
    background: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    left: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fr {
    float:right!important;
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 23px;
}

.fl-fl:hover {
    left: 0;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
}

.float-link{
    top: 105px;
    background-color:#0e76a8;
}
.float-fb {
    top: 160px;
    background-color: #3b5998;
}

.float-tw {
    top: 215px;
    background-color: #00acee;
}

.float-gp {
    top: 325px;

    background-color: #CC3333;
}



.float-ig {
    top: 270px;
    background-color: #3f729b;
}

.float-pn {
    top: 435px;
}

.float-pin{
    background-color: #c8232c;
    top: 380px;
}

#link{
    width: 150px;
}


@media only screen and (max-width: 488px){

    .fl-fl a {
        color: black !important;

    }

    .fr {
        color:#000000b0;

    }
    .float-link{
        top: 105px;
        background-color:#3f729b00;
    }
    .float-fb {
        top: 160px;
        color:red;
        background-color:#3f729b00;
    }

    .float-tw {
        top: 215px;
        background-color:#3f729b00;
    }

    .float-gp {
        top: 325px;
        background-color: #3f729b00;
    }



    .float-ig {
        top: 270px;

        background-color:#3f729b00;
    }

    .float-pn {
        top: 435px;
    }

    .float-pin{
        background-color: #3f729b00;
        top: 380px;
    }

}



button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    display: none!important;
    right: 54px;
    display: none;
    width: 47px;
    height: 75px;
    background-image: url("../../maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
}
button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    display: none;
    z-index: 1;
    display: none!important;
    width: 47px;
    height: 75px;
    background-image: url("../../maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
    background-position-x: right;
}
.slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
}

.abc{
    height:195px;
}
.abcd{
    height:1vw!important;
}